In [2]:
import pandas as pd 
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
from sqlalchemy.sql import text 
import json

In [4]:
location01 = '인천광역시'
location02 = '계양구'
location03 = '계산동'

query_str = f'''
        SELECT DISTINCT "NAME" FROM apt2 where "CITY" = '{location01}' and "GU" = '{location02}' and "DONG" = '{location03}'
'''

engine = create_engine("postgresql://qxqcovcxobgrzr:136d1a4ee21d7d53fefe41723c82cadb3a41edd4203ef9b4759b8ecb1daf68a7@ec2-107-23-76-12.compute-1.amazonaws.com:5432/d7477vdhmjaq31", echo = False)

with engine.connect() as conn:
    query = conn.execute(text(query_str))

df = pd.DataFrame(query.fetchall())
print('-----------')
print(df)

-----------
        NAME
0         극동
1         현대
2       계산주공
3      인정프린스
4     은행마을강북
5     은행마을삼보
6     은행마을아주
7     은행마을태산
8     은행마을태평
9     초정마을동아
10  초정마을두산쌍용
11      삼보3차

In [16]:
results = df['NAME'].tolist()
answer_text = '/ '.join(results)
print(answer_text)

극동/ 현대/ 계산주공/ 인정프린스/ 은행마을강북/ 은행마을삼보/ 은행마을아주/ 은행마을태산/ 은행마을태평/ 초정마을동아/ 초정마을두산쌍용/ 삼보3차

In [3]:
location04 = '계산주공'

query_str = f'''
        SELECT DISTINCT "TYPE" FROM apt2 where "NAME" = '{location04}'
'''
engine = create_engine("postgresql://qxqcovcxobgrzr:136d1a4ee21d7d53fefe41723c82cadb3a41edd4203ef9b4759b8ecb1daf68a7@ec2-107-23-76-12.compute-1.amazonaws.com:5432/d7477vdhmjaq31", echo = False)

with engine.connect() as conn:
    query = conn.execute(text(query_str))

df = pd.DataFrame(query.fetchall())
print('-----------')
print(df)

-----------
   TYPE
0    52
1    57
2    60
3    69
4    72

In [4]:
results = df['TYPE'].tolist()
answer_text = '/ '.join(results)
print(answer_text)

TypeError: sequence item 0: expected str instance, int found

In [6]:
results = df['TYPE'].tolist()
print(str(results))

[52, 57, 60, 69, 72]

In [8]:
answer_text = ', '.join(str(results))
print(answer_text)

[, 5, 2, ,,  , 5, 7, ,,  , 6, 0, ,,  , 6, 9, ,,  , 7, 2, ]

In [10]:
answer_text = '/'.join(str(s) for s in results)
print(str3)

52/57/60/69/72